@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root{
    --primary : #ff0051;
    --second: #3a3a3a;
    --third: #f2f2f2;
}

body{
    background-color: #ffffff; 
    font-family: 'Roboto', sans-serif;
}

/* header nav */

header{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
    background-color: transparent;
    transition: 0.5s;
    z-index: 1100;
    /* background-color: rgba(0, 0,0,0.9); */
}

.logo{
    position: relative;
    font-size: 30px;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;

}

.nav{
    display: flex;
    align-items: center;
}

.nav li{
    position: relative;
    list-style: none;
    margin: 0 20px;
}

.nav li a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    transition: ease-in-out .5s;
    font-weight: 400;
    font-size: 1em;
    padding: 10px;
}

.nav li a:hover{
    color: var(--primary);
}

.util{
    display: flex;
    align-items: center;
}

.util li{
    position: relative;
    list-style: none;
    margin: 0 20px;
}


.util li a{
    text-decoration: none;
    color: #fff;
    transition: ease-in-out 0.3s;
}
.util li a:hover{
    color: var(--primary);
}

.util li a ion-icon{
    font-size: 1.6em;
}

/* .util li #number{
    position: absolute;
    right: -1px;
    bottom: 2px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: var(--primary);
    color : red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60em;
    font-weight: 400;
} */

/* banner  */

#banner{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.women::before,.men::before,.special::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0,0,0.3);
    z-index: 100;
    transition: 0.5s;
}


.women:hover::before,
.men:hover::before,
.special:hover::before{
    background: transparent;
}

.women {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 40%;
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    background: var(--primary);
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.men {
    position: absolute;
    top: 0;
    left: 30%;
    height: 100%;
    width: 40%;
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 0% 100%, 25% 50%, 0% 0%);
    background: var(--second);
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.special {
    position: absolute;
    top: 0%;
    left: 60%;
    height: 100%;
    width: 40%;
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
    background: var(--primary);
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
}

#banner.left .women,
#banner.middle .men,
#banner.right .special{
    width: 100%;
    clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 0% 100%, 0% 50%,0% 0% );
    transition: 1s;

}

#banner.right .special{
    left: 0;
}

#banner.middle .men{
    left: 0;
}

#banner.left .men,
#banner.left .special{
    left: 120%;
}

#banner.right .men,
#banner.right .women{
    left: -120%;
}

#banner.middle .women{
    left: -120%;
}

#banner.middle .special{
    left: 120%;
}

/* banner images */

.women img,
.men img,
.special img{
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    object-fit: cover;
    object-position: center;
    transition: 0.5s;
    height: 100%;
}

#banner.left .women img{
    width: 50%;
}
#banner.middle .men img,
#banner.right .special img{
    left: 50%;
    width: 50%;
}



/* banner btn */
.switch-btn{
    position: relative;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 5em;
    font-weight: 300;
    margin-top: 40%;
    z-index: 1000;
    transition:  0.5s;
    transform: scale(1);
}

.switch-btn:hover{
    transform: scale(1.2);
}

/* banner reset btn */

.reset{
    position: absolute;
    left: 100px;
    bottom: 100px;
    z-index: 1000;
    transition: 0.5s;
}

.reset.active{
    transform: rotateZ(180deg);
}

.reset ion-icon{
    color: #fff;
    font-size: 2em;
    transition:  0.5s;
}

.reset ion-icon:hover{
    color: var(--primary);
}


/* banner content */


#banner .content{
    position: absolute;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    z-index: 900;
}


#banner.left .women .content,
#banner.middle .men .content,
#banner.right .special .content{
    opacity: 1;
    visibility: visible;
}


#banner .content h1{
    color: #fff;
    font-size: 4.5em;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#banner .content p{
    color: #fff;
    font-weight: 400;
    font-size: 1em;
    margin-bottom: 20px;
    letter-spacing: 1px;

}


#banner .content a{
    text-decoration: none;
    position: relative;
    width: 200px;
    text-transform: uppercase;
    font-weight: 400;
    color: #fff;
    padding: 12px 20px;
    border: 1px solid #fff;
    transition: 0.3s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#banner .content a:hover{
    background: #fff;
    color: var(--primary);
}

#banner .content a ion-icon{
    font-size: 1.2em;
}

.women .content{
    left: 55%;
}
.men .content,
.special .content{
    right: 55%;
}
/* 
#banner .content .spheading{
    color: #fff;
    font-size: 4em;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
} */

main{
    width: 100%;
    padding: 100px 0;
    background-color: #fff;
}


/* call up section  */

section.call-up{

    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    gap: 50px;
}

.call-up-box{
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 40px;
    box-shadow: 0 0 25px rgba(0, 0,0,0.3);
    background-color: #fff;
}
/* 
.call-up:first-child{
    transform: scale(1);

} */

.call-up-box ion-icon{
    font-size: 5em;
    color: var(--primary);
}

.call-up-box h4{
    font-size: 1.3em;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 10px;
}

.call-up-box p{
    font-weight:300;

}


/* <!-- about section --> */

.about{
    padding: 100px 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
}


.about .left,
.about .right{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.promotion,
.discovery{
    position: relative;
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: start;
    align-items: end;
    padding: 50px;
}


.style,.collection{
    position: relative;
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: start;
    align-items: end;
    padding: 50px;
}


.about-box{
    overflow: hidden;
}

.about-box img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(1);
    object-fit: cover;
    object-position: center;
    transition: 0.4s;
}


.about-box:hover img{
    transition:  all 0.5s;
    transform: scale(1.1);
}

.about-box::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom:0;
    background: rgba(0, 0,0,0.5);
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
}

.about-box:hover::after{
    background-color: rgba(0, 0,0,0.2);
}

.about .description{
    display: flex;
    flex-direction:  column;
    gap: 10px;
    z-index: 90;
}


.about .description h4{
    text-transform: uppercase;
    position: relative;
    color: #fff;
    font-size: 2em;
    font-weight: 400;
    margin-bottom: 20px;
}


.about .description h4::after{
    position: absolute;
    content: "";
    background-color: var(--primary);
    bottom: -10px;
    left: 0;
    width: 40%;
    height: 3px;
}

.about .description p{
    color: #fff;
    text-transform: capitalize;
    font-weight: 300;
    letter-spacing: 1px;
}
.about a{
    position: relative;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    display: inline-block;
    align-items: center;
    gap: 5px;
    transition: 0.5s;
}

.about a:hover{
    gap: 10px;
}


/* as<!-- products section  --> */

#products{
    position: relative;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    width: 100%;
}


#product-filter{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}

#product-filter li{
    position: relative;
    list-style: none;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 1px;
}

/* slider */
@keyframes slide{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

.logos-slide{
    display: inline-block;
    animation: 30s slide infinite linear;
}

.logos{
    overflow: hidden;
    padding: 20px 0;
    background-color: #fff;
    white-space: nowrap;
    position: relative;
}

.logos:hover .logos-slide{
    animation-play-state: paused;
}


.logos-slide img{
    height: 50PX;
    margin: 0 50px;
}

.logos::before,
.logos::after{
    position: absolute;
    top: 0;
    top: 0;
    width: 150px;
    height: 100%;
    content: "";
    z-index: 2;
}

.logos::before{
    left: 0;
    background: linear-gradient(to left ,rgba(255,255,255,0),#fff); 
}
.logos::after{
    right: 0;
    background: linear-gradient(to right ,rgba(255,255,255,0),#fff); 
}



@keyframes slider{
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0%);
    }
}

.logose-slide{
    display: inline-block;
    animation: 30s slider infinite linear;
} 


/* // banner middle active //  */

.banner-middle{
    /* margin-top: 5%; */
    position: absolute;
    top: 0%;
    /* top: 320%; */
    left: 50%;
    width: 49.3%;
    height: 100vh;
    margin-right: 2%;
    padding: 0 10px;
    background-color: rgba(0, 0,0,1);
    overflow: hidden;
    transition: ease-in-out 1s;
    transition-delay: 0.2s;
}

.banner-middle.active{
    left: 10%;
}

.banner-middle .container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

/* swpiper design */

.swiper-women,
.swiper-men,
.swiper-new{
    width: 100%;
    height: 100vh;
}

.swiper-slide{
    background-color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.swiper-slide img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* star rating */
.checked{
    color: orange;
}

/* products */

.section-p1{
    margin-top: 90px;
}


.section-p1 h2{
    font-size: 3em;
    font-weight:600;
    text-transform: uppercase;
    margin-bottom: 20px;
}


.section-p1 p{
    font-size: 1.2em;
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 50px;
}

.clothes{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-left: 100px;
    margin-bottom: 25px;
}

#product1{
    text-align: center;
}


#product1 .pro{
    width: 25%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d8;
    border-radius: 15px;
    cursor: pointer;
    /* box-shadow: 10px 10px 20px rgba(0,0,0, 0.2); */
    transition: ease-in 0.3s;
    margin: 15px 0
}

#product1 .pro:hover{
    box-shadow: 10px 10px 20px rgba(0,0,0, 0.2);

}

#product1 .pro img{
    width: 100%;
    border-radius: 10px;
}

#product1 .pro .des{
    text-align: center;
    padding: 10px 0px;

}

#product1 .pro .des .heading{
    color: #606060;
}

#product1 .pro .des h5{
    padding: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088179;
}

#product1 .pro i{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    color: #088178;
    margin-top: 5px;
    margin-left: 25px;

}


/* contact us page  */


.contact-banner{
    width: 100%;
    margin-top: 50px;
    height: 350px;
    background-image: url(../Images/b2.jpg);

}

.contact-banner h1{
    color: #fff;
    font-size: 3.5em;
    text-align: center;
    padding: 110px 0 20px 0;
}

.contact-banner h3{
    color: #fff;
    font-size: 1.5em;
    text-align: center;
}

.contact-map{
    background: #f2f2f2;
    display: flex;
    /* border: 1px solid red; */
    padding: 80px 80px 50px 80px;
    flex-direction: row;
    gap: 135px;
}

.map-contact
{
    /* border: 1px solid green; */
    border-radius: 10px;
}


.text-contact h5{
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    margin-bottom: 10px;
}

.text-contact h1{
    font-size: 1.3em;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
    margin-bottom: 15px;
}

.text-contact h4{
    font-size: 1.1em;
    margin-left: 10px;

}

.location{
    margin-left: 20px;
    margin-top: 40px;
    display: flex;
    gap: 25px;
}

.mail{
    margin-left: 20px;
    margin-top: 20px;
    display: flex;
    gap: 25px;
}

.number{
    margin-left: 20px;
    margin-top: 20px;
    display: flex;
    gap: 25px;
}

.timing{
    margin-left: 20px;
    margin-top: 20px;
    display: flex;
    gap: 25px;
}

.contact-links i{
    padding-top: 10px;
    color: #088178;
}
.contact-links h4{
    font-weight: 500;
    color: #333;
}


/* footer */

.footer{
    background-color: #e4e4e4;
    margin-bottom: -100px;

}

.footer-links{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* margin-top: 100px; */
    padding-top: 100px;
    padding-bottom: 70px;
}

.shop h4{
    margin-bottom: 15px;
}
.shop{
    margin-bottom: 30px;
}


.shop ul li{
    list-style: none;
}

.shop ul li a{
    text-decoration: none;
    line-height: 30px;
    color: #333;
    transition: ease-in-out 0.1s;
}

.shop ul li a:hover{
    color: #088178;
}

.social{
    padding-bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    font-size: 22px;
    color: #333;
    transition: ease-in 0.3s;
}

.social i:hover{
    color: #088179;
}

.footer-container p{
    text-align: center;
    padding-bottom: 29px;
}

.footer-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-scrolled{
    padding: 5px 100px;
    background-color: rgba(0, 0,0,0.5);
    backdrop-filter: blur(20px);
}